* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(204, 204, 204);
}
.err {
  color: rgb(189, 0, 38);
}
.admin-table {
  display: flex; 
  flex-direction: column;
  border: 3px solid black;
  background-color: rgb(255, 255, 255);
  margin-top: 2em;
}
.admin-row {
  display: flex; 
  flex-direction: row;
  align-items: stretch;
  border-top: 3px solid black;
}
.admin-row-grey {
  display: flex; 
  flex-direction: row;
  align-items: stretch;
  border-top: 3px solid black;
  background-color: lightgrey;
}
.top-row {
  text-align: center;
  border-top: 0px;
  font-weight: bold;
}
.bot-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.5em 0em 0em 1em;
}
.buttons {
  display: flex;
  justify-content: space-around;
  padding: 0.5em 0em 0em 1em;
}
.table-line-side {
  border-right: 3px solid black;
  padding: 0em 0em 0em 0.25em;
  word-break: break-all;
}
.admin-id {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.table-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  align-items: stretch;

}
.admin-order {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}