
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: Lucida Sans Unicode;
  background-repeat: no-repeat;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(180deg, rgb(31, 160, 230)30%, 
                                          rgb(30, 99, 131));
  background-repeat: no-repeat;
  color: white;
}
#Lround_button {
  padding: 0.5em 1.5em 0.5em 1.5em;
  margin-left: 1em;
  border-radius: 25px;
  background-color: #02A0EA;
}
.Lmain_1 {
  background-image: url(/images/wilsan-u-66fLciVOcVI-unsplash.jpg);
  background-repeat: no-repeat;
  background-position-x: 55%;
  background-position-y: 60%;
  background-size: auto 150%;
  padding: 10vh 2em 2em 4vw;
  width: 100%;
  height: 120vh;
  color: black;
}
.Lbeg_1 {
  /* position: relative;
  top: 10vh;
  left: 4vw; */
  font-family: Bahnschrift;
  font-size: 3em;
  z-index: 1;
}
.Lbeg_2 {
  /* position: relative;
  top: 10vh;
  left: 4vw; */
  font-size: 2em;
  z-index: 1;
}
.Lmain_2 {
  background-image: url(/images/Group_21.svg);
  background-repeat: no-repeat;
  background-position-x: 30%;
  background-position-y: 60%;
  background-size: auto 120%;
  padding: 10vh 2em 2em 4vw;
  width: 100%;
  height: 130vh;
  overflow: hidden;
  padding-bottom: 2em;
}
.Lmain_3 {
  background-image: url(/images/Group_22.svg);
  background-repeat: no-repeat;
  background-position-x: 30%;
  background-position-y: 60%;
  background-size: auto 120%;
  padding: 10vh 2em 2em 4vw;
  width: 100%;
  height: 120vh;
  overflow: hidden;
}
.Lmain_4 {
  background-image: url(/images/Group_23.svg);
  background-repeat: no-repeat;
  background-position-x: 45%;
  background-position-y: 60%;
  background-size: auto 120%;
  padding: 10vh 2em 2em 4vw;
  width: 100%;
  height: 120vh;
  overflow: hidden;
}
.Lcont_1 {
  /* position: relative;
  top: 10vh;
  left: 4vw; */
  margin: 0 0 5vh 0;
  font-size: 1.5em;
  color: wheat;
  z-index: 1;
}
.Lcont_2 {
  /* position: relative;
  top: 13vh;
  left: 4vw; */
  margin-bottom: 4vh;
  font-size: 1.25em;
  color: wheat;
  z-index: 1;
}
.Lpho {
  /* position: relative;
  bottom: -20vh;
  left: 4vw; */
  width: 15em;
  height: auto;
}
.Lmain_5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(/images/geronimo-giqueaux-1tzpezd7oA8-unsplash.jpg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  /* background-position-y: 50%; */
  background-size: 100% auto;
  background-origin: border-box;
  /* padding: 10vh 2em 2em 4vw; */
  width: 100%;
  height: auto;
  min-height: fit-content;
  overflow: hidden;
}
.Lend {
  /* position: relative;
  top: 10vh;
  left: 4vw; */
  margin: 10vh 2em 0 4vw;
  font-size: 1.5em;
  color: wheat;
  z-index: 1;
}
#Lsquare_button {
  padding: 0.5em 1.0em 0.5em 1.0em;
  margin-bottom: 11em;
  /* position: relative; */
  display: inline-block;
  width: auto;
  margin: 2vh 2em 13vh 4vw;
  /* top: 12vh;
  left: 4vw; */
  font-family: Bahnschrift;
  color: wheat;
  font-size: 2em;
  background-image: linear-gradient(60deg, rgba(0, 0, 0, 1), 
                                          rgba(7, 7, 7, 0.95), 
                                          rgba(33, 33, 33, 0.74), 
                                          rgba(33, 33, 33, 0.49), 
                                          rgba(98, 98, 98, 0.49), 
                                          rgba(128, 128, 128, 0.40));
}
@media (max-width: 552px){
  /* header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 11%;
  } */
}
@media (max-width: 694px){
  /* #me {
      bottom: 12em;
  } */
}
@media (max-width: 900px){
  .Lbeg_1 {
      top: 30vh;
  }
  .Lbeg_2 {
      top: 30vh;
  }
}
@media (max-width: 530px){
  .Lbeg_1 {
      font-size: 2.3em;
  }
  .Lbeg_2 {
      font-size: 1.5em;
  }
}
@media (max-width: 360px){
  .Lbeg_1 {
      font-size: 2em;
  }
  .Lbeg_2 {
      font-size: 1em;
  }
}
@media (max-width: 500px){
  .Lcont_1 {
      position: relative;
      top: 10vh;
      left: 4vw;
      font-size: 1.25em;
      color: wheat;
      z-index: 1;
  }
  .Lcont_2 {
      position: relative;
      top: 13vh;
      left: 4vw;
      font-size: 1em;
      color: wheat;
      z-index: 1;
  }
  #Lsquare_button {
      font-size: 1.5em;
  }
}
@media (max-width: 750px){
  .Lend {
      font-size: 1.25em;
  }
}
@media (min-width: 1200px) {
  /* html {
      font-size: 100%;
  } */
} 
@media screen and (max-width: 420px) {  
  /* #contacts_ {
      font-size: 0.85em;
  } */
}


/* dak;js;dkja;sdja;sk;fk */


.grad {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #316177, 
                                      rgb(14, 29, 36));
  background-size: 75vw 100%;
  background-position: center;
}
.back {
  width: 75vw;
  height: 100%;
  overflow: hidden;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, rgb(49, 96, 119), 
                                          rgb(49, 97, 119));
  min-height: 10vh;
  padding: 1em;
  margin: 1em;
}
#name {
  font-size: 1.5em;
}
.main {
  display: flex;
  flex-direction: row;
}
.left {
  width: 100%;
  height: 100%;
}
#menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-image: linear-gradient(to bottom, rgb(49, 97, 119), 
                                      rgb(14, 29, 36));
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  width: 100%;
  font-size: 0.8em;
}
#menu .pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;
}
.Applogo {
  margin: 1em;
  margin-right: 4em;
  height: 5em;
  width: auto;
}
a:link, a:visited, a:hover {
  color: #ffffff;
}

a:active {
  color: rgb(182, 167, 157);
}
#menu .pages .item{
  margin-right: 2em;
  font-size: 1.5em;
}
.language {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5em;
  width: 10vw;
  text-transform: uppercase;
}
.right_phot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 1em;
}
.pictures {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 2em;
}
.pictures_main {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 1em;
  height: 50vh;
}
.pictures_sec {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.pictures_sec img{
  width: auto;
  height: 5em;
  margin: 0.5em;
}
.names {
  font-family: Bahnschrift;
  font-size: 1.5em;
}
.right_cont {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:space-evenly;
  width: 100%;
  padding: 1em;
}
.grad_rect {
  background: linear-gradient(to right, rgba(44, 107, 162, 1), 
                                      rgba(0, 148, 49, 0.20), 
                                      rgba(0, 148, 49, 0));
  padding: 1em;
  margin-bottom: 1.5em;
}
.bois {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ico {
  width: 3em;
  height: auto;
  margin: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.to_center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
#map {
  border: 0; 
  width: 100%; 
  height: 30em; 
}
footer {
  background: linear-gradient(to top, rgb(0, 0, 0),  
                                  rgba(0, 0, 0, 1),
                                    rgba(0, 0, 0, 1),
                                    rgba(0, 0, 0, 0.945),
                                    rgba(0, 0, 0, 0.87),
                                      rgba(0, 0, 22, 0));
  width: 100%;
  margin-top: 2em;
  padding-left: 12.5%;
  padding-right: 12.5%;
}
#contacts_ {
  bottom: 18em;
}
#contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: static;
  color: rgba(149,181,247,1);
}
#line {
  width: 70%;
  margin-bottom: 4em;
  height: 1px;
}
#mail_ect{   
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  position: static;
}
#me {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em;
  left: 0;
  bottom: 10em;
  font-family: Bookman Old Style;
  color: white;
}
#me img{
  float: left;
  margin-right: 0.5em;
  max-width: 40px;
  max-height: 40px;
}
@media (max-width: 1000px){ 
  .back {
      padding-top: 7em;
  }
  .main {
      flex-direction: column;
  }
  .left {
      position: fixed;
      top: 0em;
      left: 0em;
      width: 100%;
      height: auto;
      z-index: 2;
  }
  #menu {
      width: 100%;
      height: 7em;
  }
  #menu .items{
      /* flex-direction: row; */
      width: auto;
  }
  .right_cont {
      width: 100%;
  }
  .right_phot {
      width: 100%;
  }
}
@media (max-width: 800px){ 
  /* .right_phot {
      flex-direction: column;
      align-items: center;
  } */
  /* .pictures {
      width: 80%;
  } */
}
@media (max-width: 660px){  
  html {
      font-size: 85%;
  }
}
@media (max-width: 585px){ 
  html {
      font-size: 70%;
  } 
}
@media (max-width: 360px){ 
  html {
      font-size: 60%;
  } 
}

.list-grad {
  display: flex;
  flex-direction: column;
  align-items: top;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgb(19, 41, 51), 
                                      rgba(14, 29, 36, 0));
  background-size: 100vw 100%;
  background-position: center;
  overflow: hidden;
}

.list-both {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-height: 75vh;
}
.list-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 25%;
  background-image: linear-gradient(to bottom, rgb(42, 120, 156), 
                                      rgba(185, 1, 1, 0));
  background-size: 100% 100%;
  background-position: center;
  padding: 0.5em;
}
.list-right {
  width: 75%;
  background-image: linear-gradient(to bottom, rgb(185, 1, 1), 
                                      rgb(18, 53, 99), 
                                      rgba(18, 53, 99, 0));
  background-size: 100% 100%;
  background-position: center;
}
.Intro {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: linear-gradient(to right, rgba(44, 107, 162, 1), 
                                      rgba(0, 148, 49, 0.20), 
                                      rgba(0, 148, 49, 0));
  padding: 1em;
  margin-bottom: 1.5em;
}
.Intro-text {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, rgba(44, 107, 162, 1), 
                                      rgba(0, 148, 49, 0.20), 
                                      rgba(0, 148, 49, 0));
  padding: 1em;
  margin-bottom: 1.5em;
}
.Intro img {
  object-fit: scale-down;
  width: 30em;
  height: auto;
}
.list-el {
  border-top: 2px solid rgba(0, 23, 73, 0.5);
}
.alias-all {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.alias {
  background-image: linear-gradient(to bottom, rgb(185, 1, 1), 
                                      rgb(18, 53, 99), 
                                      rgba(18, 53, 99, 0));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1em;
  margin: 2em;
  width: fit-content;
  height: auto;
}
.alias img {
  /* margin-bottom: 1em; */
  word-wrap: break-word;
  width: 12em;
  height: auto;
}
.alias div {
  /* margin-bottom: 1em; */
  word-wrap: break-word;
  width: 100%;
  width: 12em;
  height: auto;
}

/* .right_phot {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 1em;
}
.pictures {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 2em;
}
.pictures_main {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 1em;
  height: 50vh;
}
.pictures_sec {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
}
.pictures_sec img{
  width: auto;
  height: 5em;
  margin: 0.5em;
} */